body{
	margin: 0;
	font-family: 'monstserrat',  sans-serif;
}

header{
	padding: 40px;
	height: 50vh;
	text-align: center;
	background: linear-gradient(45deg, darkblue, royalblue);
}

header h1 {
	font-size: 5em !important;
	color: white;
}

header nav a{
	margin: 5px;
	text-decoration: none;
	font-size: 26px;
	color: white;
	border-radius: 3px;
	padding: 5px;
	border-left-width: 5px;
	border-left-color: yellow;
	border-left-style: solid;
}
header nav a:hover {
	border-left-width: 5px;
	border-left-color: red;
	border-left-style: solid;	
}

main {
	margin: 15px;
}

main h2 {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
	text-decoration-color: darkblue;
}

.item {
	background: linear-gradient(45deg, #9D9D9D, #EEEEEE);
	margin: 10px;
	padding: 40px;
	border-radius: 10px;
	width: 50%;
	box-shadow: 0 0 10px -3px darkblue;
}

.item:hover {
	background: linear-gradient(45deg, darkblue, royalblue);
	color: white;
}

.item h3 {
	font-size: 26px
}
.item h3:hover {
	text-decoration: underline;
	text-decoration-color: yellow;
}
.item p {
	font-size: 18px;
}

#services-1, #services-2 {
	display: flex;
	justify-content: space-evenly;
}

#project-1, #project-2 {
	display: flex;
	justify-content: space-evenly;	
}

.ai {
	text-align: center;
	padding: 40px;
}

.ai button {
	border: 5px solid darkblue;
	padding: 20px;
	background: yellow;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px darkblue;
}

.ai button:hover {
	border: 5px solid yellow;
	background: darkblue;
	box-shadow: 0 0 10px 1px darkblue;
	color: white;
}

footer {
	text-align: center;
	background: #EEEEEE;
	padding-top: 20px;
}

footer form {

}

.form {
	padding: 40px;
}

.input {
	border: none;
	padding: 20px;
	margin: 10px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px;
}

#submit {
	border: none;
	padding: 20px;
	font-size: 20px;
	background: darkblue;
	border-radius: 5px;
	color: white;
}

.ex {
	background: grey;
	padding: 20px;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.ex nav a {
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	color: white;
	background: linear-gradient(45deg, darkblue, royalblue);;
	font-weight: 400;
	border-radius: 5px;
}

/*MEDIA QUERIES FOR RESPONSIVENESS*/

@media (max-width: 750px) {
	body{
		
	}

	header{
		width: 90%;
		min-height: 80vh;
	}

	nav {
		margin: 0 auto;
		width: 60%;
	}

	header h1 {
		font-size: 3em !important;
		color: white;
	}

	header nav a {
		display: block;
		border: 1px solid yellow;
		margin-bottom: 20px;
	}

	main {
		margin-left: 5px;
		margin-right: 5px;
	}

	#services-1, #services-2 {
		display: block;
	}

	#project-1, #project-2 {
		display: block;	
	}

	.item {
		width: 85%;
	}

	footer {
		width: 100vw;
	}

	.ex {
		display: block;
	}

	.ex nav {
		margin: 0 auto;
		width: 40%;
	}

	.ex nav a {
		display: block;
		margin-bottom: 5px;
		padding: 10px;
		color: white;
		background: linear-gradient(45deg, darkblue, royalblue);;
		font-weight: 900;
		border-radius: 5px;
	}

}